@model IEnumerable<EnrollStudentViewModel>

@{
    ViewData["Title"] = "Add Students to Course";
}

<div class="container">
    <h2 class="my-4">Add Students to Course: @Model</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Faculty Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.FacultyNumber</td>
                <td>
                    @if (student.StudentCourse.IsEnrolled)
                    {
                        <form asp-action="RemoveStudent" asp-route-courseId="@ViewBag.CourseId" asp-route-studentId="@student.StudentId" method="post">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="AddStudentsToCourse" asp-route-courseId="@ViewBag.CourseId" asp-route-studentId="@student.StudentId" method="post">
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>